<p id="notice"><%= notice %></p>

<h1>Listing Meetings</h1>

<p id="ptop"> Plan your meetings here. </p>
          
<table id="Taskstable">
  <thead>
    <tr>
      <th>Topic</th>
      <th>Department</th>
      <th>Location</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meetings.each do |meeting| %>
      <tr>
        <td><%= meeting.topic %></td>
        <td><%= meeting.department.name %></td>
        <td><%= meeting.location.city %></td>
        <td><%= meeting.date %></td>
<% if session[:user_id] != nil %>

        <td><%= link_to 'Show', meeting %></td>
        <td><%= link_to 'Edit', edit_meeting_path(meeting) %></td>
        <td><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if session[:user_id] != nil %>
<%= link_to 'New Meeting', new_meeting_path %>
<% end %>
