<p id="notice"><%= notice %></p>

<h1>Listing Employees</h1>

<p id="ptop">CREATE AND SEE THE EMPLOYEES OF EACH DEPARTMENT.</p>

<table id="Taskstable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Department</th>
      
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
   
    <% @employees.each do |employee| %>
  <tr>
        <td><%= employee.name %></td>
        <td><%= employee.department.name %></td>

<% if session[:user_id] != nil %>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
	</tr>
 <%end%> 

  </tbody>
</table>

<br>
<% if session[:user_id] != nil %>
<%= link_to 'New Employee', new_employee_path %>
<% end %>
