<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<p id="ptop"> HERE YOU CAN CREATE NEW TASKS AND ATTRIBUTE THEM TO DEPARTMENTS, BUT YOU HAVE <strong>TO CREATE DEPARTMENTS BEFORE</strong> </p>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :deadline %><br>
    <%= f.date_select :deadline %>
  </div>

<!--  <div class="field"> Choix du department en entrant l'ID du department
    <%= f.label :department_id %><br>
    <%= f.text_field :department_id %>
  </div>
  <div class="actions"> -->

<!-- Liste deroulante affichant les departments attribuables -->
<p> Department </p>
<%= f.select :department_id, Department.all.collect { |p| [ p.name, p.id ] }, include_blank: true %>
<br><br>
    <%= f.submit %>
  </div>
<% end %>
