<%= form_for(@manager) do |f| %>
  <% if @manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manager.errors.count, "error") %> prohibited this manager from being saved:</h2>

      <ul>
      <% @manager.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
<!--   <div class="field"> Choix du department ID
    <%= f.label :department_id %><br>
    <%= f.text_field :department_id %>
  </div>
  <div class="actions"> -->
<p> Department </p>
<%= f.select :department_id, Department.all.collect { |p| [ p.name, p.id ] }, include_blank: true %>
<br><br>

    <%= f.submit %>
  </div>
<% end %>
