<p id="notice"><%= notice %></p>
  

<h2>Listing Departments</h2>

<p id="ptop"> HERE YOU CAN SEE THE TASKS ATTRIBUTED TO THE DEPARTMENTS. </p>

<!-- Barre de recherche On recherche les department concerné en fonction du name-->
<%= form_tag(departments_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "What is your Department?" %>
<%= submit_tag "Search", :name => nil %>
<% end %>
<!-- Fin bare de recherche -->

        
<table id="Taskstable">

 <thead>
    <tr>
      <th>Department's name</th>
      <th>Tasks</th>
      <% if session[:user_id] != nil %> <!-- Les modifications "Show" "Edit" "Delete" sont résérvés aux admins -->
      <th colspan="4">OPTIONS</tih>
      <%end%>
    </tr>
 </thead>

 <tbody>

<% @departments.each do |department| %> <!-- departments = Department.all -->
<% @tasks = Task.where(department_id: department.id)%>  <!-- on selectionne seulement les taches correspondantes aux departments selectionnés -->
    
       <tr>

	<td>
	<%= department.name %> 
	</td>

	<td>
	<% @tasks.each do |task| %>
	<p>_<strong><%= task.name %></strong></br></p>
        <p><%= task.description %></br></p>
        <p><%= task.deadline %></br></p>
	<% end %>
	</td>


        <% if session[:user_id] != nil %>  <!-- Show, Edit et delete reservés aux admins -->
        <td><%= link_to 'Show', department %></td>
        <td><%= link_to 'Edit', edit_department_path(department) %></td>
        <td><%= link_to 'Destroy', department, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

        </tr>

<% end %>


 </tbody>


</table>

<br>

<% if session[:user_id] != nil %>
<%= link_to 'New Department', new_department_path %>
<% end %>
