<h2> List of the current attributed tasks: </h2>

<table id="Taskstable">
       </thead>
       <tr>
       <th> Task </th>
       <th> Department </th>
       <th> Employees </th>
       <th>Managers </th>
       <th>Deadline </th>
       </tr>
       </thead> 
    <tbody>
    <% @tasks.each do |task| %> 
   <% @managers = Manager.where(department_id:  task.department_id  )%> 
 <!-- on definit @managers: Selectionner à chaque fois le manager dont le department id correspond à celui de la "task" en question -->

   <% @employees = Employee.where(department_id: task.department_id )%>

     <% @managers.each do |manager| %>
 <!--Nous allons parcourir @managers qui et selectionner le "manager" à chaque fois" -->
        <tr>
        <td><%= task.name %></td>
        <td><%= task.department.name %></td>
        <td>
<% @employees.each do |employee| %>
<p>_<%= employee.name %></p>
<% end %>
        
        </td>
        <td><%= manager.name %></td>
	<td><%= task.deadline%></td>
      </tr>
    <% end %>
    <% end %>
   </tbody>
</table>
</br>


<!-- Ici nous mettons une condition pour que seul les administrateurs connectés puissent ajouter des tasks, des departments et des employés -->
<% if session[:user_id] != nil %>
</br>
<%= link_to 'Task area', '/tasks'%>
</br>
<%= link_to 'Manager area', '/managers'%>
</br>
<%= link_to 'Employee area', '/employees'%>
</br>
<%= link_to 'Department area', '/departments'%>
<% end %>
