<h1>TODO</h1>


<table>
       </thead>
       <tr>
       <th style="color:red;"> Task </th>
       <th style="color:red;"> Department </th>
       <th style="color: blue;">Managers </th>
       <th style="color: gree;">Deadline </th>
       </tr>
       </thead>
     <tbody>
    <% @tasks.each do |task| %> 
   <% @managers = Manager.where(department_id:  task.department_id  )%> 
 <!-- on definit @managers: Selectionner à chaque fois le manager dont le department id correspond à celui de la "task" en question -->

     <% @managers.each do |manager| %>
 <!--Nous allons parcourir @managers qui et selectionner le "manager" à chaque fois" -->
        <tr>
        <td><%= task.name %></td>
        <td><%= task.department.name %></td>
        <td><%= manager.name %></td>
	<td><%= task.deadline%></td>
      </tr>
    <% end %>
    <% end %>
    </tbody>
</table>
</br>


<!-- Ici nous mettons une condition pour que seul les managers connectés puissent ajouter des tasks, des departments et des employés -->
<% if session[:user_id] != nil %>
</br>
<%= link_to 'Task area', '/tasks'%>
</br>
<%= link_to 'Manager area', '/managers'%>
</br>
<%= link_to 'Employee area', '/employees'%>
</br>
<%= link_to 'Department area', '/departments'%>
<% end %>
