<!DOCTYPE html>
<html>
<head>
  <title>WebProjectAL</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="user_header">
<%= link_to 'Home', root_path %> | <!--raccourci vers le head -->
<%= link_to 'Posts', posts_path %> |

<% if current_user %>   <!-- Si il y a un utilisateur connécté -->                 
Logged in as <%= current_user.email %>.
<%= link_to "Log Out", logout_path %>
<% else %>
<%= link_to "ADMIN:Sign Up ", signup_path %> or <!--sinon envoyé vers inscription ou connection -->
<%= link_to "ADMIN:Log In", login_path %>
<% end %>

<h1 > TO DO AREA </h1>

<%= form_tag(departments_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "What is your Department?" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

</div>
<% flash.each do |key, value| %>
<%= content_tag(:div, class: "alert alert-#{key}") do %>
<p><%= value %></p>
<% end %>
<% end %>

<%= yield %>


</body>
</html>
