<!DOCTYPE html>
<html>
<head>
  <title>PROJET WEB AY-LAURENT</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header class="header-two-bars">
    <div class="header-login-signup">
      <div id="user_header">
        <div class="header-limiter">
        <a href="/"><h1>TO DO <span>area</span></h1></a>
          <nav id="first">
            <a><%= link_to 'Home', root_path %></a> | <!--raccourci vers la homepage -->
            <% if current_user %>   <!-- Si il y a un utilisateur connécté -->
            <a><%= link_to 'Posts', posts_path %></a> |
            Logged in as <%= current_user.email %>.
            <a><%= link_to "Log Out", logout_path %></a>
          </nav>
            <% else %>
          <nav id="second">
            <a><%= link_to "Log In (RESERVED TO ADMINISTRATION AREA)", login_path %></a> <!--sinon envoyé vers inscription ou connection -->
             <a><%= link_to "Sign Up (RESERVED TO ADMINISTRATION AREA) ", signup_path %></a>
          </nav>
            <% end %>
         </div>
        <!-- <h1 > TO DO AREA </h1> -->
       </div>
     </div>
    <!-- Ici nous mettons une condition pour que seul les administrateurs connectés puissent ajouter des tasks, des departments et des employés -->


     <div class="header-second-bar">
       <div class="header-limiter">
          <nav id="menu_horizontal">
       
         <% if session[:user_id] != nil %>
        <h3><strong>PLEASE RESPECT THE ORDER OF CREATION: </strong></h3>
	<%= link_to 'I) Department area', '/departments'%>
        <%= link_to 'II) Employee area', '/employees'%>
         <%= link_to 'III) Manager area', '/managers'%>
         <%= link_to 'IV) Task area', '/tasks'%>
         <%= link_to 'V) Location (Room) for meeting', '/locations'%>
         <%= link_to 'VI)Meetings area', '/meetings' %>
         </nav>
         <% end %>
       </div>
     </div>
   </header>
 </br>
   <div>



         <% flash.each do |key, value| %>
         <%= content_tag(:div, class: "alert alert-#{key}") do %>
         <p><%= value %></p>
         <% end %>
         <% end %>

         <%= yield %>
         </div>










</body>
</html>
